* {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #f6f6f6;
}

.container {
    background-color: #222d32;
    width: 300px;
    height: 739px;
    overflow: auto;
}

.name {
    display: flex;
    align-items: center;
    height: 100px;
}

.img__user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.name__fullname--text {
    font-size: 1.6rem;
    font-weight: bold;
}

.navbar__title {
    background-color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.information__list--items {
    display: inline-block;
    font-size: 1.2rem;
    padding: 20px 0 20px 40px ;
}

.information__list--items:hover {
    cursor: pointer;
    color: #33b5e5 ;
}

.information__list--items:hover a {
    cursor: pointer;
    color: #33b5e5 ;
}

.information__list--items:hover .change__information {
    color: #fff ;
}

.information__list--items:hover .change__information a {
    color: #fff ;
}

.information__list--items i {
    margin-right: 10px;
}

.change__information {
    display: inline-block;
    display: none;
    list-style-type: none;
}

.change__information--items {
    padding: 20px 0 0 10px;
}

.information__list--items__text  a {
    text-decoration: none;
    color: #fff;
}

.navbar__header__logout a {
    text-decoration: none;
}

.navbar__header__logout a:hover {
    color: red;
}

/* Đổ dữ liệu */
#dataContainer {
    color: #000;
}


table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    text-align: center;
    align-items: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

#dataContainer {
    margin-top: 20px;
}
